<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <table border="1">
            <thead>
                <th>Product Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Date Created</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% products.forEach(e=> { %>
                    <tr>
                        <td>
                            <%= e.Product.name %>
                        </td>
                        <td>
                            <%= e.ingredients %>
                        </td>
                        <td>
                            <%= e.ingredients %>
                        </td>
                        <td>
                            <% if(e.ingredients> 0){ %>
                                <p>
                                    <%= e.dateFormat %>
                                </p>
                                <% } %>
                                    <% if(e.ingredients){ %>
                                        <p>
                                            kosong ngab :(
                                        </p>
                                        <% } %>
                        </td>
                        <td>
                            <a href="/admin/editproducts/<%= e.id %>"><button>Edit</button></a>
                            <a href="/admin/deleteproduct/<%=e.id%>"><button>Delete</button></a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </center>
</body>

</html>