<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
    <body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <p><%= JSON.stringify(products) %> </p>
        <h1>WELCOME TO BELI ROTI BESTIE !!!</h1>
        <table border="1">
            <thead>
                <th>Product Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% products.forEach(e => { %>
                    <tr>
                        <td>
                            <%= e.name %> 
                        </td>
                        <td>
                            <%= e.formattedPrice %> 
                        </td>
                        <td>
                            <%= e.stock %> 
                        </td>
                        <td>
                            <img src="<%= e.imageUrl %>">  
                        </td>
                        <td>
                            
                            <a href="/buy/<%=e.id%>"><button>Buy</button></a>
                            <a href="/addlike/<%=e.id%>"><button>Like</button></a>  
                            <a href="/productdetail/<%=e.id%>"><button>Detail</button></a>
                            <div>
                                <%= e.like %> People like this
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</center>
</html>